body > * {
    font-family: sans-serif;
}

body {
    min-height: 99dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    gap: 5px;
}

main {
    padding-left: 20px;
    padding-right: 20px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.board {
    display: grid;
    width: min-content;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 5px;
    padding-bottom: 10px;
}

.board > p {
    display: flex;
    width: 50px;
    aspect-ratio: 1/1;
    border: 3px solid #444444;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 30px;
}

.correct {
    border-color: #BDD9BF !important;
    background-color: #BDD9BF90;
    color: black;
}

.almost {
    border-color: #FFC857 !important;
    background-color: #FFC85790;
    color: black;

}

.missed {
    border-color: #444444 !important;
    background-color: #44444490;
    color: white;

}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result > span {
    font-size: 20px;
}

.hidden {
    visibility: hidden;
}

.result-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.result-board > p {
    margin: 0;
    font-size: 20px;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    gap: 2px;
}

.keyboard > button {
    grid-column: span 2;
    width: auto;
    height: 60px;
    border: 2px solid lightgray;
}

.keyboard > button.key-big {
    grid-column: span 3;
}
